// Navigation Styles here
section.nav-bar{
    .flex-cont(space-between, center);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    h1{
        padding: 2% 0;
    }//h1
    nav{
        width:40%;
        .flex-cont(space-around, center);
        align-items: center;
        a{
            text-decoration: none;
            font-size: 1.6rem;
            &:link{
                color:black;
            }//&:link
            &:visited{
                color: black;
            }//&:visited
        }//a
    }//nav
}//section.nav-bar
br.nav-bottom{
    border-bottom:1px grey dotted ;
}